@page "/"
<div class="bg-container">
    <canvas class="background"></canvas>
    <div class="overlay">
        <MudText Typo="Typo.h1" Color="Color.Secondary"> Welcome </MudText>
    </div>
</div>